@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/*Reset*/
* {
    padding: 0;
    margin: 0;
    line-height: 1;
    box-sizing: border-box;
  }
  a, img, button, input {
    display: block;
  }
  a, img, button {
    cursor: pointer;
  }
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
  button:focus, input:focus {
    outline: none;
  } 
  html {
    font-size: 10px;
  }

  .app {
      width: 100%;
      height: 100vh;
      background-color: #EEF2F5;
  }
  .app__wrap {
      width: 100%;
      height: 100%;
      position: relative;
  }
  .main__bg {
      height: 100%;
      width: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
  }
  .bg__big {
      width: 100%;
      position: absolute;
      bottom: 0;
  }
  .form__wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2.4rem;
  }
  .form__container {
    width: 41.13%;
    padding: 8.8rem 0;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #FEFEFE;
  }